<h1> New Blogger Form </h1>

<%= form_for @blogger do |f|%>
<%= f.label :name %> <br/>
<%= f.text_field :name %><br/>
<%= f.label :age %><br/>
<%= f.text_field :age %><br/>
<%= f.label :bio %><br/>
<%= f.text_area :bio%><br/>
<%=f.submit %><br/>
<%end%>

<% if flash[:error_messages] %>
    <% flash[:error_messages].each do |error| %>
        <%= error %>
    <% end %>
<% end %>