<h1> Edit Post Form </h1>

<%= form_for @post do |f|%>
<%= f.label :title %> <br/>
<%= f.text_field :title %><br/>
<%= f.label :blogger %><br/>
<%= f.collection_select :blogger_id, Blogger.all, :id, :name %><br/>
<%= f.label :destination %><br/>
<%= f.collection_select :destination_id, Destination.all, :id, :name %><br/>
<%= f.label :content %><br/>
<%= f.text_area :content%><br/>
<%=f.submit %><br/>
<%end%>

<% if flash[:error_messages] %>
    <% flash[:error_messages].each do |error| %>
        <%= error %>
    <% end %>
<% end %>